In [16]:
import json
import psycopg2
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 # required for exporting to postgis
from sqlalchemy import create_engine

In [18]:
# Load database configuration from file
with open(r'D:\iMMAP\code\db_config\hsdc_live_db_config.json', 'r') as f:
    config = json.load(f)

# Create database URL with credentials
db_url = f"postgresql://{config['username']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"

# Connect to the database
con = create_engine(db_url)

In [19]:
# Connect to the database
# con = create_engine('postgresql://username:password@localhost:5432/database_name')

# Load the table into a geopandas dataframe
table_name = 'afg_admbnda_adm2_fl'
df_flood = gpd.read_postgis(table_name, con, geom_col='the_geom')

# Columns to modify
col_list = ['pop_f029', 'pop_f121', 'pop_f271', 'km2_f029', 'km2_f121', 'km2_f271', 'build_f029', 'build_f121', 'build_f271']

# Modify the columns
df_flood['pop_f029'] = df_flood['pop_f029'] - df_flood['pop_f121']
df_flood['pop_f121'] = df_flood['pop_f121'] - df_flood['pop_f271']
df_flood['pop_f271'] = df_flood['pop_f271']

df_flood['km2_f029'] = df_flood['km2_f029'] - df_flood['km2_f121']
df_flood['km2_f121'] = df_flood['km2_f121'] - df_flood['km2_f271']
df_flood['km2_f271'] = df_flood['km2_f271']

df_flood['build_f029'] = df_flood['build_f029'] - df_flood['build_f121']
df_flood['build_f121'] = df_flood['build_f121'] - df_flood['build_f271']
df_flood['build_f271'] = df_flood['build_f271']

c:\Users\VMO\anaconda3\envs\earth2\lib\site-packages\pandas\io\sql.py:582: SAWarning: Did not recognize type 'geometry' of column 'the_geom'
  pandas_sql.meta.reflect(bind=pandas_sql.connectable, only=[sql])

In [20]:
df_flood[col_list][:5]

,pop_f029,pop_f121,pop_f271,km2_f029,km2_f121,km2_f271,build_f029,build_f121,build_f271
0,-96,361,502,-0.23,1.84,1.22,-13,85,4
1,-58,928,2310,-1.09,27.66,30.81,114,434,395
2,3632,5021,10667,20.19,34.70,34.95,2059,2493,1376
3,711,512,759,4.44,4.68,4.63,234,85,22
4,-3154,13834,4025,-20.06,248.76,104.62,13,2143,545

In [ ]:
# Save dataframe back into the postgres table (overwrite the old columns)
# df_flood.to_postgis('afg_admbnda_adm2_fl', con,  index=False, if_exists='replace')